/* This File Contain General Style */

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* set  size of fonts*/
html {
  font-size: 62.5%;
  /* 1rem = 10px */
}
/* set of variables */
:root {

    /* Font */
    --font-family: 'whitney', Helvetica, sans-serif;
    --font-weight: 500;

    /* Colors */
    --color-white: #fff;
    --color-light: #f6f6f6;
    --color-dark: #23272a;
    --color-primary: #7289da;

    /* spacing */
    --row-padding-x: 0 2.4rem;
    /* md,lg= 4rem */
    --section-padding-y: 5.6rem 0;
    /* md= 8rem , lg= 12rem */

    /* size of container */
    --container-width: 126rem;

    /* size of column (grid system)*/
    --columns-number: 4; /* sm 4 , md 8 , lg 12 */
    /* sm 4 , md 8 , lg 12 */

}
/* body */
body {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 2rem;
  color: var(--color-dark);
}
/* Links */
a {
    display: inline-block;
    color: var(--color-white);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* list */
ul {
    list-style-type: none;
}
/* image */
img {
    display: inline-block;
    width: 100%;
}
/* paragraph */
p {
    line-height: 1.6;
    /* Important */
}
/* section*/
section {
    padding: var(--section-padding-y);
}