/* First Import css Files */
@import url('./base.css');
@import url('./utiltities.css');
@import url('./layout.css');
@import url('./components.css');
@import url('./Animation.css');
@import url('./home.css');
@import url('./responsive.css');

/* Import Font */

@font-face {
    font-family: 'whitney';
    src: url('../fonts/whitneybook.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'whitney';
    src: url('../fonts/whitneymedium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'whitney';
    src: url('../fonts/whitneybold.otf');
    font-weight: bold;
}
